<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="A really cool site!">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'srts_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'srts_app/css/custom-bootstrap.css' %}">
    <script src="{% static 'srts_app/js/script.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <img src="{% static 'srts_app/images/coding_dojo_logo.png' %}" />
        <h1 class="navbar-brand">Coding Dojo: <span class="text-primary">Add a New Show</span></h1>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1 class="text-left">Add a New Show</h1>
            </div>
            <div class="offsest-md-5">
                <a href="/shows" class="top nav-style btn btn-outline-primary">&#8249;&nbsp;&nbsp;Go Back</a>
            </div>
        </div>
        <div class="row mt-5 justify-content-start">
            <div class="col-8 ">
                <form action="/shows/create" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <label for="title" class="title">Title</label>
                        <input type="text" class="form-control" name="title" value="{{ show.title }}">
                    </div>
                    <div class="row mt-4">
                        <div class="col-4 p-0 mr-5">
                            <label for="network" class="title">Network</label>
                            <input type="text" class="form-control" name="network" value="{{ show.network }}">
                        </div>
                        <div class="col p-0 ml-5">
                            <label for="release_date" class="title">Release Date</label>
                            <input type="date" class="form-control" name="release_date" value="{{ show.release_date }}">
                        </div>
                    </div>
                    <div class="row form-group mt-4">
                        <label for="description" class="title">Description</label>
                        <textarea class="form-control resize" cols="30" rows="5" name="description" value="{{ show.description }}" ></textarea>
                    </div>
                    <div class="row mt-5 justify-content-center">
                        <button type="submit" class="btn btn-primary pl-4 pr-4">Create</button>
                    </div>

                </form>

            </div>
        </div>

    </div>
</body>

</html>