<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="A really cool site!">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'srts_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'srts_app/css/custom-bootstrap.css' %}">
    <script src="{% static 'srts_app/js/script.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <img src="{% static 'srts_app/images/coding_dojo_logo.png' %}" />
        <h1 class="navbar-brand">Coding Dojo: <span class="text-primary">Add Shows</span></h1>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="container">
        <div class="row mt-5 mb-4">
            <div class="col">
                <h1>All Shows</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Network</th>
                            <th scope="col">Release Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for show in shows %}
                        <tr>
                            <th scope="row" class="align-middle">{{ show.id }}</th>
                            <td class="align-middle"> {{ show.title }}</td>
                            <td class="align-middle"> {{ show.network }}</td>
                            <td class="align-middle"> {{ show.release_date.date }}</td>
                            <td class="align-middle">
                                <a href="/shows/{{ show.id }}" class="btn btn-primary">Show</a>
                                <a href="/shows/{{ show.id }}/edit" class="edit-custom btn btn-info">Edit</a>
                                <!-- <form action="/shows/{{ show.id }}/destroy" class="delete-custom btn btn-danger"
                                    method="POST">
                                    {% csrf_token %} -->
                                <a href="/shows/{{ show.id }}/destroy" class="delete-custom text-white btn btn-danger">Delete</a>
                                <!-- </form> -->
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a href="/shows/new" class="nav-style btn btn-outline-primary">Add a New Show</a>
            </div>
        </div>
    </div>






</body>

</html>