<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "app_one/css/index.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bodyStyle">
    
    <div class="container">
        <h1 class="headline spotlight">Dojo Reads</h1>
        <div class="row "><h2 class="headline">Login and Registration</h2></div>
        {% if messages %}
            {% for message in messages %}
                {% if "out" in message.tags %}
                <h6 class="text-danger">{{message}}</h6>
                {% endif %}
            {% endfor %}
        {% endif %} 
        <div class="row">
            <div class="col-sm-6">
                <h3>Register here!</h3>
               
                <form action="/join" method="POST">
                {% csrf_token %}
                <h6>Name:</h6>
                {% if messages %}
                    {% for message in messages %}
                        {% if "name" in message.tags %}
                        <h6 class="text-danger">{{message}}</h6>
                        {% endif %}
                    {% endfor %}
                {% endif %}   
                <p><input type="text" name="name"></p>
                <h6>Alias:</h6>
                {% if messages %}
                    {% for message in messages %}
                        {% if "alias" in message.tags %}
                        <h6 class="text-danger">{{message}}</h6>
                        {% endif %}
                    {% endfor %}
                {% endif %}   
                <p><input type="text" name="alias"></p>
                <h6>Email:</h6>
                {% if messages %}
                    {% for message in messages %}
                        {% if "email" in message.tags %}
                        <h6 class="text-danger">{{message}}</h6>
                        {% endif %}
                    {% endfor %}
                {% endif %}   
                <p><input type="text" name="email"></p>
                <h6>Password:</h6>
                {% if messages %}
                    {% for message in messages %}
                        {% if "pass" in message.tags %}
                        <h6 class="text-danger">{{message}}</h6>
                        {% endif %}
                    {% endfor %}
                {% endif %}   
                <p><input type="password" name="pass"></p>
                <h6>Confirm password:</h6>
                {% if messages %}
                    {% for message in messages %}
                        {% if "pass2" in message.tags %}
                        <h6 class="text-danger">{{message}}</h6>
                        {% endif %}
                    {% endfor %}
                {% endif %}   
                <p><input type="password" name="pass2"></p>
                <p><input type="submit" class="btn-success" value="Register!"></p>
                </form>
            </div>
            <div class="col-sm-6">
                <h3>Login here!</h3>
                {% if messages %}
                    {% for message in messages %}
                    {% if "login" in message.tags %}
                        <h6 class="text-danger">{{message}}</h6>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <form action="/login" method="post">
                {% csrf_token %}
                <h6>Email:</h6>
                <p><input type="text" name="id"></p>
                <h6>Password:</h6>
                <p><input type="password" name="pass"></p>
                <p><input type="submit" class="btn-success" value="Log In!"></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>